.title
{
    font-size: 34px !important;
    font-weight: bold;
    font-style: normal;
}

tr
{
    padding:10px;
}

#notification {
    visibility: hidden;
    min-width: 250px;
    /*margin-left: -125px; !*  *!*/
    background-color: green;
    color: #fff;
    text-align: center;
    border-radius: 7px;
    padding: 6px;
    position: fixed;
    z-index: 1000000;
    right: 3%;
    top: 58px;
}

#notification.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {bottom: 58px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 58px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 58px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 58px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

.rgtc
{
    position: fixed;
    top:10px;
    right:10px;
}

.product_view .modal-dialog{max-width: 800px; width: 100%;}
.pre-cost{text-decoration: line-through; color: #a5a5a5;}
.space-ten{padding: 10px 0;}

.table-centered th,td
{
    text-align: center !important;
}

.logo
{
    width: 436px;
    margin-top: -15px;
}